{% load static %}

<section id="menu" class="menu section h-100 mt-5">
    <div class="container section-title" data-aos="fade-up">
        <h2>Menu</h2>
        <div><span>Experimente nossos </span> <span class="description-title">Sabores</span></div>
    </div>
    <div class="container isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul class="menu-filters isotope-filters">
                    <li data-filter="*" class="filter-active">Tudo</li>
                    {% for emb in embalagens %}
                    <li data-filter=".filter-{{ emb.base__embalagem__id }}">{{ emb.base__embalagem__nome }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row isotope-container" data-aos="fade-up" data-aos-delay="200">
            {% for item in itens %}
            <div class="col-lg-6 menu-item isotope-item filter-{{ item.base.embalagem.id }}">
                <img src="{{ item.imagem.url }}" class="menu-img" alt="{{ item.base.tipo }} {{ item.sabor }}">
                <div class="menu-content">
                    <a href="#">{{ item.base.tipo }} {{ item.sabor }}</a><span>R$ {{ item.preco }}</span>
                </div>
                <div class="menu-ingredients">
                    {{ item.base.embalagem }}
                </div>
                <div class="text-end"><button class="btn btn-primary btn-sm add-to-cart"
                        data-item-id="{{ item.id }}">Adicionar à Sacola</button></div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>

    // Ao carregar a página (ou quando o JavaScript for executado), verifica se há dados armazenados no localStorage e atualiza o carrinho com o número de itens.
    document.addEventListener("DOMContentLoaded", function () {
        // Obtém o número total de itens do carrinho armazenado no localStorage
        const totalItens = Number(localStorage.getItem('totalItensCarrinho')) || 0;
        atualizarSacolaIcone(totalItens);  // Atualiza o ícone da sacola com o número de itens
        // const sacolaCount = document.getElementById('sacola-count');
        // sacolaCount.innerHTML = totalItens
    });

    // Função para atualizar o ícone da sacola com o número total de itens
    function atualizarSacolaIcone(totalItens) {
        // Armazena o total de itens no localStorage
        const sacolaIcone = document.getElementById('sacola-icon');
        const sacolaCount = document.getElementById('sacola-count');

        // Atualiza o ícone da sacola e o contador
        if (totalItens > 0) {
            sacolaIcone.classList.remove('bi-bag');
            sacolaIcone.classList.add('bi-bag-fill');
            sacolaCount.classList.remove('d-none');
            sacolaCount.innerText = totalItens;
        } else {
            sacolaIcone.classList.remove('bi-bag-fill');
            sacolaIcone.classList.add('bi-bag');
            sacolaCount.classList.add('d-none');
        }
        localStorage.setItem('totalItensCarrinho', totalItens);
    }

    // Adiciona um ouvinte para o evento de clique nos botões "Adicionar ao Carrinho"
    document.querySelectorAll('.add-to-cart').forEach(function (button) {
        button.addEventListener('click', function () {
            let itemId = button.getAttribute('data-item-id');
            fetch(`/pedido/adicionar-item/${itemId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
            })
                .then(response => response.json())
                .then(data => {
                    // Verifica o retorno da API e atualiza o ícone da sacola com o novo total de itens
                    atualizarSacolaIcone(data.total_itens);  // Atualiza o ícone da sacola com o total
                })
                .catch(error => console.error('Erro:', error));
        });
    });

</script>