{% load static %}

<section id="menu" class="menu section h-100 mt-5">
    <div class="container section-title" data-aos="fade-up">
        <h2>Menu</h2>
        <div><span>Experimente nossos </span> <span class="description-title">Sabores</span></div>
    </div>
    <div class="container isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul class="menu-filters isotope-filters">
                    <li data-filter="*" class="filter-active">Tudo</li>
                    {% for emb in embalagens %}
                    <li data-filter=".filter-{{ emb.base__embalagem__id }}">{{ emb.base__embalagem__nome }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row isotope-container" data-aos="fade-up" data-aos-delay="200">
            {% for item in itens %}
            <div class="col-lg-6 menu-item isotope-item filter-{{ item.base.embalagem.id }}">
                <img src="{{ item.imagem.url }}" class="menu-img" alt="{{ item.base.tipo }} {{ item.sabor }}">
                <div class="menu-content">
                    <a href="#">{{ item.base.tipo }} {{ item.sabor }}</a><span>R$ {{ item.preco }}</span>
                </div>
                <div class="menu-ingredients">
                    {{ item.base.embalagem }}
                </div>
                <button class="btn btn-primary add-to-cart" data-item-id="{{ item.id }}">Adicionar à Sacola</button>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    function atualizarSacolaIcone(totalItens) {
        const sacolaIcon = document.getElementById('sacola-icon');
        const sacolaCount = document.getElementById('sacola-count');

        if (totalItens > 0) {
            sacolaIcon.classList.remove('bi-bag');
            sacolaIcon.classList.add('bi-bag-fill');
            sacolaCount.classList.remove('d-none');
            sacolaCount.innerText = totalItens;

            // Abrir automaticamente o sidebar se houver itens na sacola
            // const sidebarSacola = new bootstrap.Offcanvas(document.getElementById('offcanvasRight'));
            // sidebarSacola.show();
        } else {
            sacolaIcon.classList.remove('bi-bag-fill');
            sacolaIcon.classList.add('bi-bag');
            sacolaCount.classList.add('d-none');
        }
    }

    document.querySelectorAll('.add-to-cart').forEach(function (button) {
        button.addEventListener('click', function () {
            let itemId = button.getAttribute('data-item-id');
            fetch(`/pedido/adicionar-item/${itemId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
            })
                .then(response => response.json())
                .then(data => {
                    atualizarSacolaIcone(data.total_itens);
                })
                .catch(error => console.error('Erro:', error));
        });
    });

    // Ao carregar a página, inicializar o estado da sacola
    document.addEventListener("DOMContentLoaded", function () {
        fetch('/pedido/sacola-itens/')
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('URL não encontrada');
            })
            .then(data => {
                const totalItens = data.total_itens || 0; // Garante que totalItens seja 0 caso não exista
                atualizarSacolaIcone(totalItens); // Reutiliza a lógica existente

                // Exibe o sidebar ao clicar na sacola cheia
                const sacolaIconContainer = document.getElementById('sacola-icon-container');
                if (sacolaIconContainer) {
                    sacolaIconContainer.addEventListener('click', function () {
                        const sidebar = new bootstrap.Offcanvas(document.getElementById('offcanvasRight'));
                        sidebar.show();
                    });
                }
            })
            .catch(error => console.error('Erro:', error));
    });

</script>