{% load static %}

<section id="menu" class="menu section h-100 mt-5">
    <div class="container section-title" data-aos="fade-up">
        <h2>Menu</h2>
        <div><span>Experimente nossos </span> <span class="description-title">Sabores</span></div>
    </div>
    <div class="container isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul class="menu-filters isotope-filters">
                    <li data-filter="*" class="filter-active">Tudo</li>
                    {% for emb in embalagens %}
                    <li data-filter=".filter-{{ emb.base__embalagem__id }}">{{ emb.base__embalagem__nome }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row isotope-container" data-aos="fade-up" data-aos-delay="200">
            {% for item in itens %}
            <div class="col-lg-6 menu-item isotope-item filter-{{ item.base.embalagem.id }}">
                <img src="{{ item.imagem.url }}" class="menu-img" alt="{{ item.base.tipo }} {{ item.sabor }}">
                <div class="menu-content titulo_produto">
                    <a href="#" class="mb-0">{{ item.base.tipo }} {{ item.sabor }}</a><span>R$ {{ item.preco }}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="menu-ingredients text-start px-2">
                        {{ item.base.embalagem }}
                    </div>
                    <button class="btn btn-sm add-to-cart" style="background-color:#ffb03b; color:white;"
                        onclick="adicionarItem({{ item.id }})">
                        Adicionar ao Carrinho
                    </button>
                </div>
                <!-- <div class="text-center">
                    <button class="btn btn-success btn-sm" onclick="adicionarItem({{ item.id }})">
                        Adicionar ao Carrinho
                    </button>
                </div> -->
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>

    function adicionarItem(produtoId) {
        fetch(`/pedido/carrinho/adicionar/${produtoId}/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        })
            .then(response => response.json())
            .then(data => {
                // Atualizar a quantidade de itens no carrinho
                document.getElementById('sacola-count').textContent = data.quantidade_total;
                let sacolaIcone = document.getElementById('sacola-icon');
                sacolaIcone.className = 'bi-bag-fill fs-5 me-1';
                $('#sem_produto').addClass('hidden');
            })
            .catch(error => {
                console.error('Erro ao adicionar item ao carrinho:', error);
            });
    }

</script>