<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="sidebarSacolaLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarSacolaLabel">Sacola de Itens</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div id="messageAlert"></div>

    <div class="offcanvas-body">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Meus Itens</span>
            <span class="badge bg-primary rounded-pill">{{ total_itens }}</span>
        </h4>

        {% if sacola %}
        <ul class="list-group mb-3">
            {% for item in sacola %}
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <!-- <li class="list-group-item d-flex justify-content-between align-items-center"> -->
                <div>
                    <h6 class="my-0"><strong>{{ item.nome }}</strong></h6> <br>
                    <small class="text-muted">Quantidade: {{ item.quantidade }}</small>
                </div>
                <span class="text-muted">R$ {{ item.total|floatformat:2 }}</span>
            </li>
            {% endfor %}
        </ul>
        <div class="d-flex justify-content-between">
            <strong>Total Acumulado</strong>
            <strong>R$ {{ total_acumulado|floatformat:2 }}</strong>
        </div>
        {% else %}
        <p class="text-center">Sua sacola está vazia.</p>
        {% endif %}

        <button type="button" class="btn btn-success btn-lg mt-3 w-100">
            <a href="{% if total_itens > 0 %}{% url 'pedido:checkout_pedido' %}{% endif %}"
                class="link-light text-decoration-none">
                Finalizar Pedido
            </a>
        </button>
    </div>
</div>


<script>
    function removerItem(itemId) {
        fetch(`/pedido/remover-item/${itemId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
        })
            .then(response => response.json())
            .then(data => {
                // Atualizar visualmente a sacola
                alert(data.status);
            });
    }
</script>