{% extends 'base.html' %}
{% load static %}

{% block title %} Finalizar Pedido {% endblock %}

{% block content %}

<head>
    <style>
        .header {
            background-color: #15110dd9;
        }

        .textcolor {
            color: #ffb03b;
        }

        .bg_color {
            background-color: #ffb03b;
        }
    </style>
</head>

<section class="pb-2">
    <div class="container">
        {% if user_authenticated %}
        <h2 class="border-bottom ps-3 ps-lg-5 mb-0">Meu Pedido:
            <span class="fs-bold textcolor">
                N° {{ pedido.id }}</span>
        </h2>
        {% else %}
        <div class="d-flex justify-content-center border-bottom">
            <h2 class="fs-bold textcolor px-3 ps-lg-5 mb-0">
                <span class="fs-bold textcolor">
                    Confira sua compra</span>
            </h2>
            <h5 class="offcanvas-title pt-1" id="sidebarSacolaLabel"> - Total de Itens - <b id="tot_items"></b></h5>
        </div>
        {% endif %}
        <!-- <p>Confirmar pedido </p>
            <p>Ao finalizar enviaremos a confirmação do envio para whatsapp do telefone cadastrado</p> -->
        <div class="row">
            <div class="text-center bg-light bg-gradient p-3">
                <h2 class="mb-0">Itens do Pedido</h2>
            </div>
            <div class="col p-2 flex-fill">
                <div id="sacola-conteudo">
                    <div class="table-responsive">
                        <table class="table table-sm text-sm" id="itens-sacola">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Quant.</th>
                                    <th>Preço</th>
                                    <th>Total</th>
                                    <th>Excluir</th>
                                </tr>
                            </thead>
                            <tbody id="tabela-itens">
                                <!-- Os itens serão adicionados dinamicamente aqui -->
                            </tbody>
                        </table>
                    </div>
                    <hr class="m-0">
                    <div class="bg-light bg-gradient px-lg-5 d-flex justify-content-lg-end">
                        <div class="col-12 col-lg-6">
                            <div
                                class="container-lg d-flex gap-2 p-2 px-lg-5 mb-0 justify-content-between justify-content-lg-end">
                                <h2 class="d-flex align-items-center">
                                    <span class="textcolor pe-5">Total do Pedido</span>
                                </h2>
                                <h2 class="text-start pe-3">
                                    <span class="" id="tot_acumulado"></span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="col-6 p-2 flex-fill" method="post" action="{% url 'pedido:criarPedido' %}">
                {% csrf_token %}
                <div class="row my-2">
                    <div class=" col-lg-6 my-2 mt-lg-0">
                        <h4>Endereço de Entrega</h4>
                        <div class="d-flex gap-2 text-muted ">
                            <input type="text" class="form-control form-control-sm" id="cep" name="cep" maxlength="8"
                                placeholder="CEP: 00000-000" onblur="buscarEndereco()">
                            <input type="text" class="form-control form-control-sm" id="numero_casa" name="numero_casa"
                                maxlength="8" placeholder="Número Casa">
                        </div>
                        <div class="hidden" id="endereco"></div>

                    </div>
                    <div class="col-lg-6">
                        <h4>Selecione a forma de pagamento:</h4>
                        <select type="text" class="form-select form-select-sm text-muted mt-2" name="forma_pagamento"
                            required>
                            <option value="" disabled selected>Escolha uma opção</option>
                            {% for forma_pagamento in lista_forma_pagamento %}
                            <option value="{{ forma_pagamento.id }}">{{ forma_pagamento.nome }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-sm justify-content-end mt-2"
                            style="background-color:#ffb03b; color:white;">Finalizar
                            Pedido</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="{% static 'assets/js/carrinho.js' %}"></script>

{% endblock %}

{% block script %}

<script>
    $(document).ready(function () {
        // Retorna endereço ao digitar cep e número
        $("#cep").on('keyup', function () {
            var cep = $(this).val().replace(/\D/g, '');
            console.log(cep);
    
            if (cep.length === 8) {
    
                // Fazer a chamada AJAX para buscar o endereço com base no CEP
                $.ajax({
                    url: 'https://viacep.com.br/ws/' + cep + '/json/',
                    method: 'GET',
                    success: function (data) {
    
                        var numero_casa = $("#numero_casa").val();
    
                        // Criar o endereço formatado
                        var enderecoFormatado = 'Logradouro: ' + data.logradouro + ', ' +
                            'Bairro: ' + data.bairro + ', ' +
                            'Cidade: ' + data.localidade + ', ' +
                            'Estado: ' + data.uf + numero_casa;
    
                        // Preencher o campo de endereço
                        $("#id_endereco").val(enderecoFormatado);
                    },
                    error: function (error) {
                        console.log("Erro ao buscar CEP:", error);
                        alert("Erro ao buscar CEP. Verifique se o CEP é válido.");
                    }
                });
            }
        });
    
        $("#numero_casa").on('blur', function () {
            var numero_casa = $(this).val().replace(/\D/g, '');
            var cep = $("#id_endereco").val();
            var enderecoFormatado = cep + ', ' +
                'Número: ' + numero_casa;
            $("#id_endereco").val(enderecoFormatado);
        });
    });
</script>

{% endblock %}