{% extends 'base.html' %}
{% load static %}

{% block title %} Dados do Pedido {% endblock %}

{% block content %}

<head>
    <style>
        .header {
            background-color: #15110dd9;
        }

        .textcolor {
            color: #ffb03b;
        }

        .bg_color {
            background-color: #ffb03b;
        }
    </style>
</head>

<section class="container-fluid px-0 pb-2">
    <div class="d-flex justify-content-between">
        <div class="text-start py-1 px-5">
            <h2 class="ps-lg-5 mb-0">
                {{ pedido.usuario|title }}
            </h2>
        </div>
        <div class="fs-bold textcolor align-content-center pe-5">
            Atendido por: {{ pedido.atendente }}
        </div>
    </div>
    <hr class="mt-0">
    <div class="d-flex justify-content-between border-bottom px-5">
        <h2 class="fs-bold textcolor p-1 ps-lg-5 mb-0">
            Pedido Realizado com Sucesso!!!
        </h2>
        <div class="fs-bold textcolor align-content-end">
            Pedido Nº {{ pedido.id }} - Realizado em {{ pedido.data_pedido }}
        </div>
    </div>

    <!-- <h2>Pedido #{{ pedido.id }}</h2>
    <p>Data: {{ pedido.data_pedido|date:"d/m/Y H:i" }}</p>
    <p>Cliente: {{ pedido.usuario.username }}</p>
    <p>Forma de Pagamento: {{ pedido.forma_pagamento }}</p>
    <p>Pago: {{ pedido.pago|yesno:"Sim,Não" }}</p>
    <p>Entregue: {{ pedido.entregue|yesno:"Sim,Não" }}</p>
    <p>Total: R$ {{ pedido.total }}</p>
    <p>Atendente: {{ pedido.atendente.username }}</p>
    {% if pedido.entregador %}
    <p>Entregador: {{ pedido.entregador.nome }}</p>
    {% endif %} -->

    <div class="row">
        <div class="text-center bg-light bg-gradient p-3">
            <h2 class="mb-0">Itens do Pedido</h2>
        </div>
        <div class="col p-2 flex-fill">
            <div id="sacola-conteudo">
                <div class="table-responsive">
                    <table class="table table-sm text-sm" id="itens-sacola">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Quant.</th>
                                <th>Preço</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in itens %}
                            <tr class="text_menu text-sm">
                                <td>{{ i.produto }}</td>
                                <td>{{ i.quantidade }}</td>
                                <td>R$ {{ i.preco }}</td>
                                <td>R$ {{ i.total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <hr class="m-0">
                <div class="bg-light bg-gradient px-lg-5 d-flex justify-content-lg-end">
                    <div class="col-12 col-lg-6">
                        <div
                            class="container-lg d-flex gap-2 p-2 px-lg-5 mb-0 justify-content-between justify-content-lg-end">
                            <h2 class="d-flex align-items-center w-75">
                                <span class="textcolor">Total do Pedido</span>
                            </h2>
                            <h2 class="text-start w-100 pe-3">
                                <span class="">R$ {{ pedido.total }}</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 p-2 flex-fill">
            <h4 class="">Endereço de Entrega</h4>
            {{ form }}
            <div class="text-end m-2">
                <div class="m-2">
                    <h5>Forma de pagamento:</h5>
                    {{ pedido.forma_pagamento }}
                </div>
            </div>
            <div class="text-center p-3">
                Pago: {{ pedido.pago|yesno:"Sim,Não" }}
                {% if pedido.pago == True %}
                <i class="bi bi-check-circle-fill" style="color: green;"></i>
                {% else %}
                <i class="bi bi-slash-circle-fill" style="color: red;"></i>
                {% endif %}
                Entregue: {{ pedido.entregue|yesno:"Sim,Não" }}
                {% if pedido.entregue == True %}
                <i class="bi bi-check-circle-fill" style="color: green;"></i>
                {% else %}
                <i class="bi bi-slash-circle-fill" style="color: red;"></i>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<script src="{% static 'assets/js/carrinho.js' %}"></script>

{% endblock %}