{% extends 'base.html' %}
{% load static %}

{% block title %} Finalizar Pedido {% endblock %}

{% block content %}

<head>
    <style>
        .header {
            background-color: #15110dd9;
        }

        .textcolor {
            color: #ffb03b;
        }

        .bg_color {
            background-color: #ffb03b;
        }
    </style>
</head>

<section class="pb-2">
    <h2 class="border-bottom ps-3 ps-lg-5 mb-0">Meus Pedidos:
        <span class="fs-bold textcolor">
            N° {{ num_pedidos }}</span>
    </h2>

    <div class="responsive">
        <table class="table table-hover" id="id_table">
            <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Data</th>
                    <th>Cliente</th>
                    <th>Atendente</th>
                    <th>Valor</th>
                    <th>Pago</th>
                    <!-- <th>Enviado</th> -->
                    <th>Entregador</th>
                    <th>Entregue</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pedidos %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.data_pedido }}</td>
                    <td>{{ p.usuario }}</td>
                    <td>{{ p.usuario }}</td>
                    <td>R$ {{ p.total }}</td>
                    <td>{{ p.pago|default:'' }}</td>
                    <!-- <td>{{ p.enviado }}</td> -->
                    <td>{{ p.entregador|default:'' }}</td>
                    <td>{{ p.entregue|default:'' }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="text-end">
                    <th colspan="8">
                        Valor Total dos Pedidos: R$ {{ total_valor|floatformat:2 }}
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

<script src="{% static 'assets/js/carrinho.js' %}"></script>

{% endblock %}

{% block script %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/jqueryDataTable.js' %}"></script>

<script src="{% static 'js/jqueryDataTable.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#id_table').DataTable({
            "order": [[0, 'desc']],
            "pageLength": 100,
            "language": {
                "url": "{% static 'js/Portuguese-Brasil.json' %}"
            }
        }
        );
    }); 
</script>
{% endblock %}