{% extends 'base.html' %}

{% load static templates_tags %}

{% block title %} Sorveteria {% endblock %}

{% block content %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="sidebarSacolaLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title pt-1" id="sidebarSacolaLabel">Total de Itens - <b id="tot_items"></b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div id="messageAlert"></div>
    <div class="offcanvas-body p-0">
        <div class="text-center bg-light bg-gradient pt-2">
            <h1 class="mb-0">Sacola de Compras</h1>
        </div>

        <!-- <h4 class="d-flex justify-content-center align-items-center bg-light bg-gradient p-3 mb-0" id="sem_produto">
            <span class="text-primary">Escolha um Produto</span>
        </h4> -->


        <div id="sacola-conteudo">
            <div class="table-responsive">
                <table class="table" id="itens-sacola">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Quant.</th>
                            <th>Preço</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-itens">
                        <!-- Os itens serão adicionados dinamicamente aqui -->
                    </tbody>
                </table>
            </div>
            <hr class="mb-0">
            <h4 class="d-flex justify-content-between align-items-center bg-light bg-gradient p-3 mb-0">
                <span class="text-primary">Total do Meu Pedido</span>
                <span class="badge bg-primary rounded-pill" id="tot_acumulado"></span>
            </h4>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn w-100" style="background-color:#ffb03b; color:white;">
                    <a href="{% url 'pedido:checkout_pedido' %}" class=" link-light text-decoration-none">
                        Finalizar Pedido
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<section id="hero" class="hero section dark-background">
    <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-item active">
            <img src="{% static 'assets/img/hero-carousel/hero-carousel-1.jpg' %}" alt="">
            <div class="carousel-container">
                <h2><span>A Fábrica</span> Açaí e Sorvete</h2>
                <p>Descubra os sabores irresistíveis do nosso açaí e sorvetes artesanais na A Fábrica! Cada
                    colherada é uma explosão de frescor e sabor, feita com os melhores ingredientes. Venha
                    experimentar nossas delícias e adoçar o seu dia!</p>
                <div>
                    <a href="#menu" class="btn-get-started">Nosso Menu</a>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'assets/img/hero-carousel/hero-carousel-2.jpg' %}" alt="">
            <div class="carousel-container">
                <h2>Sabores Irresistíveis <span>A Fábrica</span></h2>
                <p>Os melhores sorvetes e açaí para refrescar seu dia. Prove e se apaixone por cada
                    colherada!.</p>
                <div>
                    <a href="#menu" class="btn-get-started">Nosso Menu</a>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'assets/img/hero-carousel/hero-carousel-3.jpg' %}" alt="">
            <div class="carousel-container">
                <h2><span>A Fábrica</span> Sorvetes como você nunca viu</h2>
                <p>Cremosos, refrescantes e cheios de sabor. Visite-nos e descubra suas novas sobremesas
                    favoritas!</p>
                <div>
                    <a href="#menu" class="btn-get-started">Nosso Menu</a>

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>
        <ol class="carousel-indicators"></ol>
    </div>

</section>

{% show_menu %}

<section id="gallery" class="gallery section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Galeria</h2>
        <div><span>Algumas fotos</span> <span class="description-title">Deliciosas</span></div>
    </div><!-- End Section Title -->

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'assets/img/gallery/gallery-1.jpg' %}" class="glightbox"
                        data-gallery="images-gallery">
                        <img src="{% static 'assets/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'assets/img/gallery/gallery-2.jpg' %}" class="glightbox"
                        data-gallery="images-gallery">
                        <img src="{% static 'assets/img/gallery/gallery-2.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'assets/img/gallery/gallery-3.jpg' %}" class="glightbox"
                        data-gallery="images-gallery">
                        <img src="{% static 'assets/img/gallery/gallery-3.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'assets/img/gallery/gallery-4.jpg' %}" class="glightbox"
                        data-gallery="images-gallery">
                        <img src="{% static 'assets/img/gallery/gallery-4.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'assets/img/gallery/gallery-5.jpg' %}" class="glightbox"
                        data-gallery="images-gallery">
                        <img src="{% static 'assets/img/gallery/gallery-5.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'assets/img/gallery/gallery-6.jpg' %}" class="glightbox"
                        data-gallery="images-gallery">
                        <img src="{% static 'assets/img/gallery/gallery-6.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'assets/img/gallery/gallery-7.jpg' %}" class="glightbox"
                        data-gallery="images-gallery">
                        <img src="{% static 'assets/img/gallery/gallery-7.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'assets/img/gallery/gallery-8.jpg' %}" class="glightbox"
                        data-gallery="images-gallery">
                        <img src="{% static 'assets/img/gallery/gallery-8.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

        </div>

    </div>

</section>

<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Onde</h2>
        <div><span>Veja nossa </span> <span class="description-title">Localização</span></div>
    </div><!-- End Section Title -->

    <div class="mb-5">
        <iframe style="width: 100%; height: 400px;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1879.902096984656!2d-42.63895114770235!3d-19.55001823738134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa551b136c66885%3A0xc34cf64726f8e3d6!2sA%20Fabrica%20A%C3%A7a%C3%AD%20e%20Sorvete!5e0!3m2!1spt-BR!2sbr!4v1728150401036!5m2!1spt-BR!2sbr"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div><!-- End Google Maps -->

    <div class="container" data-aos="fade">

        <div class="row gy-5 gx-lg-5">

            <div class="col-lg-4">

                <div class="info">
                    <h3>A Fábrica - Açaí e Sorvete</h3>
                    <p>O Sorvete mais gostoso do vale!</p>

                    <div class="info-item d-flex">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h4>Localização:</h4>
                            <p>Av. Acesita, 573, Olaria - Timóteo/MG</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h4>Email:</h4>
                            <p>afabrica@exemplo.com.br</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex">
                        <i class="bi bi-phone flex-shrink-0"></i>
                        <div>
                            <h4>Ligue:</h4>
                            <p>(31) 99578-1020</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>

            </div>

            <div class="col-lg-8">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome"
                                required="">
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email"
                                required="">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto"
                            required="">
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" placeholder="Menssagem" required=""></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Enviando</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Sua mensagem foi enviada com sucesso!</div>
                    </div>
                    <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
                </form>
            </div><!-- End Contact Form -->
        </div>
    </div>
</section>

<!-- <script>

    function atualizarCarrinho() {
        fetch('/pedido/carrinho/')
            .then(response => response.json())
            .then(data => {
                const tabelaItens = document.getElementById("tabela-itens");
                const totItems = document.getElementById("tot_items");
                const totAcumulado = document.getElementById("tot_acumulado");

                // Limpa a tabela antes de adicionar novos itens
                tabelaItens.innerHTML = "";

                // Preenche a tabela com os itens do carrinho
                const carrinho = data.carrinho;
                let totalItens = 0;

                for (const key in carrinho) {
                    const item = carrinho[key];
                    totalItens += item.quantidade;

                    const row = `
                    <tr class="text_menu">
                        <td>${item.nome}</td>
                        <td>${item.quantidade}</td>
                        <td>R$ ${item.preco.toFixed(2)}</td>
                        <td>R$ ${item.total.toFixed(2)}</td>
                    </tr>
                `;
                    tabelaItens.insertAdjacentHTML("beforeend", row);
                }

                // Atualiza os totais
                totItems.textContent = totalItens;
                totAcumulado.textContent = `R$ ${data.total_pedido.toFixed(2)}`;
            })
            .catch(error => {
                console.error("Erro ao buscar dados do carrinho:", error);
            });
    }

    // Chama a função para atualizar o carrinho ao carregar a página
    document.addEventListener("DOMContentLoaded", atualizarCarrinho);


</script> -->

{% endblock %}